<footer>
  <div class="copyrights">© {{ "now"|date("Y") }} {{ 'rightsreserved'|trans }}. {{ 'websitepowered'|trans }} {{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION') }}.</div>
</footer>