{% extends "@FOSUser/confirmed.html.twig" %}

{% trans_default_domain 'user' %}

{% block fos_user_content %}
  <p>{{ 'confirmed'|trans({'%username%': user.username}) }}</p>
{% endblock fos_user_content %}

